@function getColour($colour) {
    @return map-get($colors, $colour);
}

$colors: (
    primary: #002e6b,
    Light-blue: #7194c1,
    bg-gray: #e5eaef,
    pri-black: #000,
    logo-sec: rgba(212, 175, 55, 1),
    main-gold: #d2ac47,
    main-bg: #1b1b1b,
    footer-bg: rgba(52, 52, 52, 0.7),
);
