@import './components/variables';
@import './components/colors';
@import './components/html';
@import './components/header';
@import './components/footer';
@import './components/hamburger';
@import './components/main';
@import './components/cards';
@import './components/modal';
@import './components/account';
@import './components/errormsg';
@import './components/thumbnail';
@import './components/search';

// import func and var form bootsrap scss
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$enable-responsive-font-sizes: true;

$custom-theme-colors: (
    'altgold': #d2ac47,
    'mainbg': #1b1b1b,
    'footerbg': rgba(52, 52, 52, 0.7),
    'opacitywhite': rgba(255, 255, 255, 0.399),
    'darkcard': #424242,
    'ok-green': #325c3c,
    'err-red': #5a1e10,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bs-body-font-family: 'Open Sans', sans-serif;
}
